body {
	background-image: url(res/wall.png); 
}

#gameArea{
	padding: 10px;
	width: 800px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

#scoreboard {
	color: white;
	display: block;
}

#ball1 {
	height: 10px;
	width: 10px;
	left: 0px;
	position: relative;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	background: white;
}

#ball2 {
	height: 10px;
	width: 10px;
	left: 0px;
	position: relative;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	background: white;
}

#table {
	margin-left: 25%;
	width: 370px;
	height: 645px;
	border: 5px solid yellow;

}

#table > img {
	
}


#line{
	position: relative;
	top: 225px;
	background-color: lightgreen;
	width: 300px;
	height: 5px;
}

#meter{
	position: relative;
	/*width: 50px;
	height: 400px;
	right: 300px;
	bottom: 0px;
	border-color: black;
	border-style: solid;
	border-width: 5px;*/
    width: 40%;
    left: 550px;
	bottom: 200px;
    background-color: grey;
    transform: rotate(-90deg);
}

#force{
	/*position: relative;
	bottom: -30%;
	width: 100%;
	height: 300px;
	background-color: red;*/
	  width: 1%;
    height: 30px;
    background-color: green;
}

#sight{
	border:none;
	border-bottom: 1px dotted black;
	height: 200px;
}

#scoreboard{
	position: absolute;
}

.boxes{
	height: 30px;
	width: 30px;
	background-color: red;
	position: relative;
	border: solid 5px white;
	margin: 0px;
	overflow: hidden;
}

#box0{
	top: 80px;
	left: 45px;
}

#box1{
	top: 80px;
	left: 105px;
}

/*h1{
	color: red;
}*/
/*#box{
background-color: black; 
height: 20px; 
width: 40px;" 
}*/

