body {

	background-image: url(res/wall.png); 
	font-family: Arial;
	height: 1000px;
}

#gameArea{
	padding: 10px;
	width: 800px;
	height: 650px;
	margin-left: auto;
	margin-right: auto;
	display: none;
}

#start {
	margin: 20px;
	margin-left: 35%;
}

#play {
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #34d95a;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

#play:hover {
  background: #05a33c;
  text-decoration: none;
}

#help {
  border-radius: 7px;
  font-family: Arial;
  color: #ffffff;
  font-size: 16px;
  background: #b5b5b5;
  padding: 8px 20px 8px 20px;
  text-decoration: none;
}

#help:hover {
  background: #9a9c9b;
  text-decoration: none;
}

.css-input {
     padding: 11px;
     font-size: 16px;
     border-width: 0px;
     border-color: #CCCCCC;
     background-color: #FFFFFF;
     color: #000000;
     border-style: solid;
     border-radius: 7px;
     box-shadow: 0px 0px 1px rgba(66,66,66,.18);
     text-shadow: undefined 0px 0px 5px px rgba(66,66,66,.75);
}
 .css-input:focus {
     outline:none;
}

#scoreboard {
	color: white;
	display: block;
}

#ball1 {
	height: 10px;
	width: 10px;
	left: 0px;
	position: relative;
	margin-top: 10px;
	margin-right: auto;
	margin-left: auto;
	background: white;
}

#ball2 {
	height: 10px;
	width: 10px;
	left: 0px;
	position: relative;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
	background: white;
}

#table {
	margin-left: 25%;
	width: 370px;
	height: 645px;
	border: 5px solid black;

}

#table > img {

}


#line{
	position: relative;
	top: 225px;
	background-color: lightgreen;
	width: 300px;
	height: 5px;
}

#meter{
	position: relative;
    width: 40%;
    left: 550px;
	bottom: 200px;
    background-color: grey;
    transform: rotate(-90deg);
}

#force{
	width: 1%;
    height: 30px;
    background-color: green;
}

#sight{
	border:none;
	border-bottom: 1px dotted black;
	height: 200px;
}

#scoreboard{
	position: absolute;
}

.boxes{
	height: 30px;
	width: 30px;
	background-color: #E74C3C;
	position: absolute;
	border: solid 5px white;
	margin: 0px;
	overflow: hidden;
}

#img {
	display: inline-block;
	position: relative;
}

#box0 {
	top: 40px;
	left: 45px;
}

#box1{
	top: 40px;
	left: 125px;
}

#box2 {
	top: 40px;
	left: 205px;
}

#box3 {
	top: 40px;
	left: 285px;
}

#box4 {
	top: 80px;
	left: 85px;
}

#box5 {
	top: 80px;
	left: 165px;
}

#box6 {
	top: 80px;
	left: 245px;
}

#box7 {
	top: 120px;
	left: 125px;
}

#box8 {
	top: 120px;
	left: 205px;
}

#box9 {
	top: 160px;
	left: 165px;
}

#box10 {
	top: 443px;
	left: 165px;
}

#box11 {
	top: 483px;
	left: 125px;
}

#box12 {
	top: 483px;
	left: 205px;
}

#box13 {
	top: 523px;
	left: 85px;
}

#box14 {
	top: 523px;
	left: 165px;
}

#box15 {
	top: 523px;
	left: 245px;
}

#box16 {
	top: 563px;
	left: 45px;
}

#box17 {
	top: 563px;
	left: 125px;
}

#box18 {
	top: 563px;
	left: 205px;
}

#box19 {
	top: 563px;
	left: 285px;
}
/*h1{
	color: red;
}*/
/*#box{
background-color: black;
height: 20px;
width: 40px;"
}*/
